@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
body{
    font-size: 17px;
    color: #666766;
}

form{
    max-width: 418px;
    width: 100%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    padding-top: 49px;
    text-align: center;
}
[type="text"],[type="email"]{
    max-width: 388px;
    width: 100%;
    text-align: center;
    height: 37px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.21);
    font-size: 17px;
    font-weight: 300;
    border-radius: 10px;
    outline: none;
    border: none;
    background: #e7e8e9;
    margin-bottom: 22px;
}
.buy{
    margin-top: 27px;
    margin-bottom: 42px;
}
#buy-in, #payment-method{
    display: block;
    font-weight: 400;
}
select{
    margin: auto;
    padding: 8px 26px 8px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #e7e8e9;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.21);
    color: #666766;
    font-size: 17px;
    font-weight: 300;
    margin-top: 10px;
    -webkit-appearance: none;
    background-image: url('carret.svg');
    background-position: 97% center;
    background-repeat: no-repeat;
    line-height: 1em;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px; 
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
    }

    select::-ms-expand {
    display: none;
    }
button{
    margin-top: 58px;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 24px;
    padding: 10px 25px;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.21);
    background: linear-gradient(180deg,#81C465,#6DA555 ),#81C465;
    cursor: pointer;
}
button:hover{
    background: linear-gradient(180deg,#72cd57,#5FAA48 ),#72cd57;
}