div#programs_block {
    max-width: 700px;
    width: 100%;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    margin: auto;
    margin-top: 40px;
}

.bem_offer:link, .bem_offer:visited {
    color: #616060;
    text-decoration: none;
}

.bem_offer {
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    margin-bottom: 21px;
    padding: 20px;
    position: relative;
    border: 1px solid transparent;
    text-decoration: none;
    transition: 0.2s;
    width: 700px;
    box-sizing: border-box;
    margin: 40px 0;
}

.bem_offer__border{
    box-shadow: 0 0 5px 0 #7e9dff;
    border: 3px solid #6085ff;
    position: relative;
}
.bem_offer__border .bem_offer__note{
    font-weight: 700;
    font-style: normal;
    display: inline-block;
    position: absolute;
    top: -20px;
    left: -16px;
    margin: 0;
    padding: 9px 16px 8px 14px;
    color: #fff;
    background-color: #3358d5;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,.14);
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,.14);
}

.bem_offer__border .bem_offer__note::after{
    content: " ";
    display: block;
    position: absolute;
    left: -10px;
    bottom: -7px;
    border-top: 0 inset transparent;
    border-right: 12px solid #133091;
    border-bottom: 7px inset transparent;
    border-left: 11px inset transparent;

}
.bem_offer__note {
    display: inline-block;
    position: absolute;
    top: -20px;
    left: -16px;
    margin: 0;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,.14);
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,.14);
    background: #fa5d49;
    color: #fff;
    font-size: 14px;
    padding: 10px 20px 7px;
    position: absolute;
    line-height: 1;
    transition: 0.2s;
    text-transform: uppercase;
}
.bem_offer__note::after{
    content: " ";
    display: block;
    position: absolute;
    left: -10px;
    bottom: -7px;
    border-top: 0 inset transparent;
    border-right: 14px solid #fa5d49;
    border-bottom: 7px inset transparent;
    border-left: 11px inset transparent;
}
.bem_offer__head{
    background-color: #d9edf7;
    font-weight: 700;
    vertical-align: middle;
    padding: 10px 20px;
}
.bem_offer__head .bem_offer__image,.bem_offer__head .bem_offer__text,.bem_offer__head .bem_offer__get{
    width: 33%;
    margin: auto;
    text-align: center;
    display: block;
}

.bem_offer__head:hover{
    border: 1px solid transparent!important;
}
.bem_offer__image {
    padding: 0;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bem_offer__image, .bem_offer__text, .bem_offer__get {
    vertical-align: top;
    width: 33%;
    font-size: 14px;
}
.bem_offer__text {
    font-size: 16px;
    margin-left: 50px;
}
.bem_offer__get {
    text-align: right;
    vertical-align: middle;
    display: flex;
    align-items: center;
}
.button {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    line-height: 0.7;
    color: #FFFFFF;
    background-color: #fa5d49;
    margin: 1px auto 0;
    display: inline-block;
    transition: 0.2s;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}
.bem_offer:hover {
    border-color: #f6c361;
}
.bem_offer:hover .bem_offer__note {
    background: #f19f00;
}
.bem_offer:hover .bem_offer__note::after{
    border-right: 12px solid  #f19f00;
}
.bem_offer:hover .bem_offer__get .button {
    -webkit-box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.3);
    color: #fff;
    opacity: 0.8;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


@media (max-width: 997px){
    
    .bem_offer {
        display: inline-block;
        vertical-align: top;
        width: 44%;
        margin-right: 5%;
        margin-bottom: 5%;
    }
    .bem_offer__image, .bem_offer__text, .bem_offer__get{
        width: auto;
        margin: auto;
        text-align: center;
    }
   
    .bem_offer__image {
        display: block;
        width: auto;
        margin-right: 0;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .bem_offer__text{
        padding: 20px 0;
    }
    .bem_offer__head{
        display: none;
    }
}

@media (max-width: 769px){
    .bem_offer {
        display: block;
        width: auto;
        margin-right: 0;
        padding: 15px;
    }
    .bem_offer__info {
        margin-bottom: 24px;
    }
    .bem_offer__text {
        text-align: center;
        margin-bottom: 20px;
    }
    .bem_offer__info, .bem_offer__image, .bem_offer__text, .bem_offer__get {
        width: auto;
    }
    .bem_offer__head{
        display: none;
    }
}

@media (max-width: 480px){
.bem_offer {
    display: block;
    width: auto;
    margin-right: 0;
    padding: 15px;
}
.bem_offer__image {
    margin-bottom: 10px;
}
.bem_offer__text {
    font-size: 14px;
    margin-bottom: 10px;
}
.bem_offer__head{
    display: none;
}
}